*{
     margin: 0;
     padding: 5px;
     box-sizing: border-box;
}

body {
     display: flex;
     justify-content: center;
     align-items: center;
     border: solid rgb( 255, 0, 0) 3.5px;
     min-height: 100vh;
}

section{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     grid-template-areas: 
          "yel yel pur"
          "rd map pur"
          "rd orc orc";
     width: 95%;
     height: 35rem;
     border: solid rgb( 0, 0, 255) 1px;
     gap: 10px;
}

div:nth-child(1) {
     background: yellow;
     grid-area: yel;
}
div:nth-child(2) {
     background: purple;
     grid-area: pur;
}
#exercise-plan {
     width: 100%;
     height: 100%;
     padding: 0;
     grid-area: map;
}
div:nth-child(4) {
     background: red;
     grid-area: rd;
}
div:nth-child(5) {
     background: orchid;
     grid-area: orc;
}
